<div class='cntrl cntrl-sm'>
	<div class='cntrl-box'>	
		
		<div class='cntrl-antenna'>	
			<div class='cntrl-antenna-dot'></div>
			<div class='cntrl-antenna-stalk'></div>
			<div class='cntrl-antenna-lg-plate'></div>
		</div>
		
		<div class='status-light'></div>

		<div class='cntrl-grip'>
			<div class='cntrl-grip-texture'></div>
		</div>

		<div class='cntrl-label'>
			<input type='text' placeholder="Control Label">
		</div>

		<div class='jystk-bounds'>
			<div class='jystk'>
				<div class='jystk-style'></div>
			</div>
		</div>

	</div>
</div>