<div class='mixer'>
	<div class='mixer-box'>
		<div class='mixer-module'>
			<div class='mixer-light'></div>
			<div class='info-stream'></div>
		</div>
		<div class='mixer-module'>
			<div class='mixer-light'></div>
			<div class='info-stream'></div>
		</div>
		<div class='mixer-module'>
			<div class='mixer-light'></div>
			<div class='info-stream'></div>
		</div>
		<div class='mixer-module'>
			<div class='mixer-light'></div>
			<div class='info-stream'></div>
		</div>
		<div class='mixer-module'>
			<div class='mixer-light'></div>
			<div class='info-stream'></div>
		</div>
	</div>
</div>