doctype html
html(lang='en')
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
		title _
		link(rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css")
		link(rel="stylesheet" type="text/css" href="/stylesheets/no5-main.css")
		block head links
		
		link(rel="stylesheet" type="text/css" href="/stylesheets/cntrl-controls.css")
		link(rel="stylesheet" type="text/css" href="/stylesheets/cntrl-button.css")
		link(rel="stylesheet" type="text/css" href="/stylesheets/cntrl-joystick.css")
		link(rel="stylesheet" type="text/css" href="/stylesheets/cntrl-knob.css")
		link(rel="stylesheet" type="text/css" href="/stylesheets/cntrl-meter.css")
		link(rel="stylesheet" type="text/css" href="/stylesheets/cntrl-mixer.css")
		link(rel="stylesheet" type="text/css" href="/stylesheets/cntrl-switch.css")
		
		
	body
		block content


		block init scripts
			script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")

			script(src="http://hammerjs.github.io/dist/hammer.min.js")
			
			script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js')
			script(src='http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js')

			script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.13.1/TweenLite.min.js")
			script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.13.1/TimelineLite.min.js")
			script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.13.1/utils/Draggable.min.js")
			script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.13.1/plugins/CSSPlugin.min.js")
			script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.13.1/easing/EasePack.min.js")

				
		block client scripts
			script(src="/no5-workspace.js")
			script(src="/cntrl-controls.js")
			script(src="/scripts/client.js")
			script(src="/cntrl-button.js")
			script(src="/cntrl-joystick.js")
			script(src="/cntrl-knob.js")
			script(src="/cntrl-meter.js")
			script(src="/cntrl-mixer.js")
			script(src="/cntrl-switch.js")