extends layout

block head links
	link(rel="stylesheet" type="text/css" href="/stylesheets/no5-workspace.css")

block content
	div.logo-and-user
		img(src="/assets/screenMachineLogo.svg")
		div.user-greeting
			label.user-label Hello:
			p.username Patrick
	form.scaler
		input#scale-slide(type='range' name='scaler' value='0.8' max='2.05' step='0.05')
		label#scale-text
	div.mixer-module
		div.mixer-light
		div.info-stream {{joystick1: {x: -10%, y: 30%}}, {joystick2: {x: 5%, y: 90%}}}
	div.work-table
	div.frame
		div.control-holders
			div#button-holder.control-holder
			div#joystick-holder.control-holder
			div#knob-holder.control-holder
			div#meter-holder.control-holder
			div#switch-holder.control-holder
			div#screen-holder.control-holder
	div.mixer
	