extends layout

block head links
	link(rel="stylesheet" type="text/css" href="/stylesheets/no5-login.css")

block content
	div.gray-out
	div.login-modal
		div.login-logo
			img(src="/assets/screenMachineLogo.svg")
		form.login-form(method='post' action='/login')
			p.label-holder
				label.login-label Username: 
			input.login-username(type='email' placeholder='YourEmail@YourURL.com...')
			br
			p.label-holder
				label.login-label Password: 
			input.login-password(type='password' placeholder='Your password...')
			button.login-submit(type='submit') Login
	div.work-table
	div.frame

block client scripts
	script(src="/no5-login.js")