extends layout

block content
	div.gray-out
	div.login-modal
		div.login-logo
			img(src="http://www.msvu.ca/site/media/msvu/Project%20Twenty12%20small%20logo(1).jpg")
		p.login-prompt Please Login
		form.login-form(method='post')
			p.label-holder
				label.login-label Username: 
			input.login-username(type='email' placeholder='YourEmail@YourURL.com...')
			br
			p.label-holder
				label.login-label Password: 
			input.login-password(type='text' placeholder='Your password...')