.cntrl-meter {
	height: 12.5%;
	width: 5%;
}


























/*__________________________________________________________________________________________*/
.cntrl-meter-menu {
	height: 80%;
	width: 32%;
}



