/* __________________________________________________ controls */

.cntrl {
	position: absolute;
	border: 1px dotted chartreuse;
	border-radius: 8px;
	height: 100%;
	width: 100%;
}

.cntrl-box {
	background-color: rgba(90, 90, 90, 1);
	margin: auto; 
	position: relative;
	border-radius: 7px;
	width: 88%;
	height: 85%;
}

.status-light {
	border-radius: 50%;
	position: absolute;
	background-color: rgb(80, 0, 0);
	border: 1px solid rgba(20, 20, 20, 0.8);
}


.cntrl-antenna {
	position: relative;
}

.cntrl-antenna-stalk {
	width: 4px;
	background-color: black;
	margin: auto;
}

.cntrl-antenna-stalk {
	
}

.cntrl-antenna-dot {
	background-color: black;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	position: absolute;
	top: 0;
}

.cntrl-antenna-lg-plate {
	height: 2px;
	position: absolute;
	vertical-align: bottom;
	background-color: black;
}

.cntrl-grip {
	background: linear-gradient(to bottom left, rgba(30, 30, 30, 0.9) , rgba(55, 55, 55, 0.7));;
	border-top: 1px solid rgba(60, 60, 60, 0.8);
	border-right: 1px solid rgba(60, 60, 60, 0.8);
	position: absolute;
	border-radius: 2px 3px 2px 65%;
}

.cntrl-label {
	position: absolute;
	bottom: 5px;
	left: 5px;
	margin-right: 5px;
	border-top: 1px solid rgba(20, 20, 20, 0.8);
	border-bottom: 1px solid rgba(20, 20, 20, 0.8);
	text-align: center;
}

.cntrl-label input {
	border: none;
	background-color: rgba(0,0,0,0);
	color: rgba(30, 30, 30, 1);
	width: 90%;
	font-size: 10px;
	letter-spacing: -1px;
	font-family: 'Andale Mono';
	font-weight: lighter;
	vertical-align: middle;

}

.cntrl:hover {
	background-color: white;
}




