/*__________________________________________________________________ menu and app */

.frame {
	z-index: 1000;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 15%;
	background-color: rgb(166, 74, 45);
	box-shadow: 0 0px 4px 3px rgba(20, 20, 20, 0.3);
}

.scaler {
	z-index: 2000;
	position: fixed;
	bottom: 17%;
	left: 1%;
	padding: 5px 10px;
	background-color: rgba(250, 250, 250, 0.7);
	border-radius: 20px;
	box-shadow: 0 0px 20px 1px rgba(50, 50, 50, 0.2);
}

#scale-slide {
	margin: 5px;
}

#scale-text {
	font-size: 12px;
}

/*________________________________________________________________  LOGO AND USERNAME */
.logo-and-user {
	position: fixed;
	left: 5px;
	top: 5px;
	width: 12%;	
	z-index: 4000;
}


.logo-and-user img{
	width: 100%;
	margin: 0;
}

.user-greeting {
	padding: 0;
	margin: -5px 0 0 0;
	line-height: 0;
}

.user-label {
	font-style: italic;
	margin: 0 3px 0 6px;
	font-size: 9px;
	color: rgb(150, 150, 150);
}
.username {
	font-size: 11px;
	display: inline-block;
	margin: 0;
	line-height: 10px;
	color: rgb(90, 90, 90);
}


/*__________________________________________________________________ work table */
.work-table {
	left: 0;
	top: 0;
	position: absolute;
	background-color: rgba(210, 210, 208, 1);
	margin-bottom: 5%;
}

.work-table-column {
	/*border-left: 1px dotted rgb(20, 20, 20);*/
	position: absolute;
	height: 100%;
	top: 0;
}

.work-table-row {
	/*border-top: 1px dotted rgb(20, 20, 20);*/
	position: absolute;
	width: 100%;
	left: 0;
}


/*________________________________________________ tests */
.test-thang {
	width: 10%;
	height: 80%;
	display: inline-block;
	background-color: green;
}

.control-holders {
	width: 85%;
	height: 100%;
	/*background-color: rgba(60, 60, 60, 0.2);*/
	margin: 0;
	position: absolute;
	right: 0;
	padding: 10px 1% 1% 2%;
}

.control-holder {
	width: 10%;
	display: inline-block;
	margin: 0 3%;
	position: relative;
	border: 1px solid gray;

}















