/*__________________________________________________________________ menu and app */

.frame {
	z-index: 1000;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 15%;
	background-color: rgb(166, 74, 45);
	box-shadow: 0 0px 4px 3px rgba(20, 20, 20, 0.3);
}

.scaler {
	z-index: 2000;
	position: fixed;
	bottom: 17%;
	left: 1%;
	padding: 5px 10px;
	background-color: rgba(250, 250, 250, 0.7);
	border-radius: 20px;
	box-shadow: 0 0px 20px 1px rgba(50, 50, 50, 0.2);
}

#scale-slide {
	margin: 5px;
}

#scale-text {
	font-size: 12px;
}

/*__________________________________________________________________ work table */
.work-table {
	left: 0;
	top: 0;
	position: absolute;
	background-color: rgba(210, 210, 208, 1);
	margin-bottom: 5%;
}

.work-table-column {
	border-left: 1px dotted gray;
	position: absolute;
	height: 100%;
	top: 0;
}

.work-table-row {
	border-top: 1px dotted gray;
	position: absolute;
	width: 100%;
	left: 0;
}





/*__________________________________________________________________ controls */

.cntrl {
	position: absolute;
	/*border: 1px dotted chartreuse;*/
	border-radius: 8px;
	height: 100%;
	width: 100%;
}

.cntrl-box {
	background-color: rgba(90, 90, 90, 1);
	margin: auto; 
	position: relative;
	border-radius: 7px;
}

.cntrl-antenna {
	position: relative;
}

/*________________________________________________ antenna-style */
.cntrl-antenna-stalk {
	width: 4px;
	background-color: black;
	margin: auto;
}

.cntrl-antenna-stalk {
	
}

.cntrl-antenna-dot {
	background-color: black;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	position: absolute;
	top: 0;
}

.cntrl-antenna-lg-plate {
	height: 2px;
	position: absolute;
	vertical-align: bottom;
	background-color: black;
}






















